<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title '' %} - My Silex Application</title>

    <!-- Bootstrap -->
    <link href="{{ app.request_stack.getCurrentRequest.basePath }}/css/screen.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% include "partials/navbar.html.twig" %}
<div class="container{% if fluid is defined %}-fluid{% endif %}">
    {% block content %}{% endblock %}
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ app.request_stack.getCurrentRequest.basePath }}/vendor/jquery/dist/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ app.request_stack.getCurrentRequest.basePath }}/vendor/bootstrap-sass-official/vendor/assets/javascripts/bootstrap.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
