{% extends "::base.html.twig" %}

{% block stylesheets %}
    <!-- Bootstrap -->
    {% stylesheets 'bundles/bangpoundinstagram/css/styles.scss' %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% javascripts '@jquery_js' '@bootstrap_sass_official_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
{% include "BangpoundInstagramBundle:partials:navbar.html.twig" %}
<div class="container{% if fluid is defined %}-fluid{% endif %}">
    {% block content %}{% endblock %}
</div>
{% endblock %}
